body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:114px;
}
#u655 {
  position:absolute;
  left:82px;
  top:54px;
  width:436px;
  height:114px;
}
#u656 {
  position:absolute;
  left:2px;
  top:49px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u657 {
  position:absolute;
  left:82px;
  top:168px;
  width:31px;
  height:666px;
}
#u658 {
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:666px;
}
#u659 {
  position:absolute;
  left:488px;
  top:168px;
  width:30px;
  height:666px;
}
#u660 {
  position:absolute;
  left:2px;
  top:325px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:108px;
}
#u661 {
  position:absolute;
  left:82px;
  top:834px;
  width:436px;
  height:108px;
}
#u662 {
  position:absolute;
  left:2px;
  top:46px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(45, 46, 48, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u663 {
  position:absolute;
  left:113px;
  top:168px;
  width:375px;
  height:666px;
  font-size:14px;
  text-align:left;
}
#u664 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u665 {
  position:absolute;
  left:123px;
  top:212px;
  width:16px;
  height:19px;
  color:#FFFFFF;
}
#u666 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u667 {
  position:absolute;
  left:123px;
  top:178px;
  width:68px;
  height:18px;
  color:#FFFFFF;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u669 {
  position:absolute;
  left:429px;
  top:178px;
  width:30px;
  height:18px;
  color:#FFFFFF;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:21px;
}
#u671 {
  position:absolute;
  left:405px;
  top:175px;
  width:14px;
  height:21px;
  color:#FFFFFF;
}
#u672 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u673 {
  position:absolute;
  left:260px;
  top:210px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
}
#u675 {
  position:absolute;
  left:113px;
  top:328px;
  width:375px;
  height:320px;
}
#u676 {
  position:absolute;
  left:2px;
  top:152px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(81, 81, 81, 0.537254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  position:absolute;
  left:113px;
  top:168px;
  width:375px;
  height:666px;
}
#u678 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u679 {
  position:absolute;
  left:273px;
  top:437px;
  width:48px;
  height:50px;
}
#u680 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u681 {
  position:absolute;
  left:261px;
  top:518px;
  width:73px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
